documentation/
Doxylog
*~
*.o
*.lo
*.la
# autoreconf -si
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
install-sh
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
nidoamp/Makefile.in
# ./configure
Makefile
config.log
config.status
libtool
lv2wisdom.sh
nidoamp/.deps/
nidoamp/Makefile
nidoamp/manifest.ttl
nidoamp/nidoamp.ttl
# make
nidoamp/.libs/
nidoamp/nidoamp.peg
nidoamp/test_nidoamp
refman.pdf
nidoamp/gmon.out
nidoamp/test_ringbuffer
Doxyfile
